
.qtc_clangd/.cache/clangd/index/

FmtDbgHelp/build/

FmtDbgHelp/Makefile

FmtDbgHelp/Makefile.Debug

FmtDbgHelp/Makefile.Release

FmtDbgHelp/release/

FmtLib/build/

FmtLib/debug/

FmtDbgHelp/debug/

FmtLib/Makefile

FmtLib/Makefile.Debug

FmtLib/Makefile.Release

*.Debug

*.Release

*.autosave

FmtLib/release/

FmtScript/build/

FmtScriptTest/build/

HotfixCreator/debug/

HotfixCreator/release/

HotfixCreator/Makefile

FmtScriptTest/Makefile

Makefile

qrsdtest/release/

bin/1.png

bin/

DBFileTool/build/

.qtc_clangd/

.qmake.stash

FmtScript/debug/

FmtScriptTest/debug/

FmtScriptTest/release/

*.user

WorkFMT/build/

*.zip

ui_*.h

WorkFMT/debug/

WorkFMT/release/

workfmtpytools/.vscode/

workfmtpytools/__pycache__/

workfmtpytools/config/__pycache__/

workfmtpytools/installer/__pycache__/

workfmtpytools/tools/__pycache__/

FmtScript/release/

DBFileTool/release/

DBFileTool/debug/

pytools/destrib/

qrsd/debug/

qrsd/release/

qrsdtest/debug/

tables.dat

fmtopt.ini

FmtLib/src/highlighter.cpp.CjCaXl

DumpTool/build/

DumpTool/debug/

DumpTool/release/

fmtdatapumpwrp/build/

fmtdatapumpwrp/debug/

fmtdatapumpwrp/release/

DiffToScript/build/

DiffToScript/debug/

DiffToScript/release/

WorkFMT.pro.user.b2456cf

FmtRslModule/build/

FmtRslModule/debug/

WorkFMT.pro.user.a3c1743

FmtRslModule/release/

HotfixCreator/build/

qrsd/rsd/lib/debug/

qrsd/rsd/lib/release/

WorkFMT.pro.user.488e2ad

DiffToScript/DiffToScript.ini

qrsd/PgConvWrapper/.vs/PgConvWrapper/v16/

*.pdb

*.obj

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.tlog/

qrsd/PgConvWrapper/PgConvWrapper/Debug/vc142.idb

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.vcxproj.FileListAbsolute.txt

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.Build.CppClean.log

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.dll.recipe

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.ilk

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.log

qrsd/PgConvWrapper/PgConvWrapper/Debug/PgConvWrapper.pch

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.tlog/

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.Build.CppClean.log

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.dll.recipe

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.iobj

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.ipdb

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.log

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.pch

qrsd/PgConvWrapper/PgConvWrapper/Release/PgConvWrapper.vcxproj.FileListAbsolute.txt

qrsd/PgConvWrapper/PgConvWrapper/x64/Debug/PgConvWrapper.tlog/

qrsd/PgConvWrapper/PgConvWrapper/x64/Debug/

ChangeNote/debug/

ChangeNote/release/

RegparmTool/debug/

RegparmTool/build/

DiffToScriptlib/build/

DiffToScriptlib/debug/

DatViewer/build/

DatViewer/debug/
