
.qtc_clangd/.cache/clangd/index/

FmtDbgHelp/build/

FmtDbgHelp/Makefile

FmtDbgHelp/Makefile.Debug

FmtDbgHelp/Makefile.Release

FmtDbgHelp/release/

FmtLib/build/

FmtLib/debug/

FmtDbgHelp/debug/

FmtLib/Makefile

FmtLib/Makefile.Debug

FmtLib/Makefile.Release

*.Debug

*.Release

*.autosave

FmtLib/release/

FmtScript/build/

FmtScriptTest/build/

HotfixCreator/debug/

HotfixCreator/release/

HotfixCreator/Makefile

FmtScriptTest/Makefile

Makefile

qrsdtest/release/

bin/1.png

bin/

DBFileTool/build/

.qtc_clangd/

.qmake.stash

FmtScript/debug/

FmtScriptTest/debug/

FmtScriptTest/release/

*.user

WorkFMT/build/

*.zip

ui_*.h

WorkFMT/debug/

WorkFMT/release/

workfmtpytools/.vscode/

workfmtpytools/__pycache__/

workfmtpytools/config/__pycache__/

workfmtpytools/installer/__pycache__/

workfmtpytools/tools/__pycache__/

FmtScript/release/

DBFileTool/release/

DBFileTool/debug/

pytools/destrib/

qrsd/debug/

qrsd/release/

qrsdtest/debug/

tables.dat

fmtopt.ini

FmtLib/src/highlighter.cpp.CjCaXl

DumpTool/build/

DumpTool/debug/

DumpTool/release/

fmtdatapumpwrp/build/

fmtdatapumpwrp/debug/

fmtdatapumpwrp/release/

DiffToScript/build/

DiffToScript/debug/

DiffToScript/release/

WorkFMT.pro.user.b2456cf

WorkFMT.pro.user.a3c1743
